.text-button-default-state {
    background-color: transparent;
    border: none;
    color: #204B6F;
    display: flex;
    justify-content:center;
    align-items: center;
    width: 100%;

}

*:focus {
    outline: none;
}

.text-button-default-state:hover {
    color: #FF3B65;
}

.text-button-default-state:active {
    color: #153754;
}

.text-button-default-state:disabled {
    color: #BBBBBB;
}





