.section {
    border-bottom: solid #BBBBBB;
    width: 100%;
}

.selected-section {
    border-bottom-color: #FF3B65;
}

.section span {
    display: block;
    font-size: 17px;
    padding-bottom: 2%;
    color: #333;
    text-align: center;
    cursor: pointer;
}